
  .portfolioHome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex: .6;
    width: 100%;
    justify-content: flex-start;
    color: #ffffff;
    font-weight: bolder;
  }

  .routes {
    display: flex;
    width: 100%;
  }

  .paragraph {
    text-align: left;
  }

  .content {
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
  }

  .route {
    flex: 1;
    margin: 10px;
    text-align: center;
  }

  .routeContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .title {
    color: #282c34;
  }

  .text {
    color: #282c34;
  }

  .logo {
    height: 40vmin;
    pointer-events: none;
  }

  .icon {
    background-color: #ffffff;
    margin: 20px;
    height: 25px;
    width: 25px;
  }

  .header {
    background-color: #282c34;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }

  .link {
    color: $blue;
    text-decoration: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  @media only screen (min-width: 600px) {
    .navigation {
      flex-direction: column;
      justify-content: center;
    }
  }

  @media only screen (min-width: 600px) {
    .routes {
      display: block;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }