$navy-base: #0f0d25;
$orange-base: #ff9c01;
$navy: rgba($navy-base, 100);
$orangee: rbga($orange-base, 100);
$small-spacing: 10px;

.about {
  color: white;
  max-width: 600px;
}

.bigTitle {
  color: #ff9c01;
  font-size: 30px;
}

.headerGraphic {
   max-width: 300px;
   max-height: 300px;
}

.center {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.content {
  align-items: center;
  background-color: $navy;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company {
  color: white;
  font-weight: bolder;
}

.contactInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.experienceCard {
  margin: $small-spacing;
  padding: $small-spacing;
  width: 600px;
}

.experience {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.experineceCardText {
  color: white;
  font-size: calc($small-spacing + 2vmin);
}

.experienceCardHeader {
  text-align: center;
  background-color: $navy;
  color: white;
  padding: $small-spacing;
  text-align: left;
}

.footer {
  color: #ff9c01;
  display: flex;
  padding: $small-spacing;
  font-style: italic;
  flex-direction: row;
  justify-content: center;
}

.hamburgerMenu {
  display: none;
}

.header {
  align-items: center;
  background-color: $navy;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc($small-spacing + 2vmin);
  justify-content: space-between;
  padding: $small-spacing;
  text-align: center;
  width: 100%;
}

.headerContent {
  background-color: $navy;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: calc($small-spacing + 2vmin);
  text-align: center;
}

.headerLink {
  color: white;
  text-decoration: none;
}

.image {
  max-width: 800px;
  max-height: 600px;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
}

.icon {
  margin: 20px;
  height: 30px;
  width: 30px;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.position {
  color: $orangee;
  font-weight: bold;
}

.portfolioHome {
  display: flex;
  flex-direction: column;
  background-color: $navy;
}

.resumeButton {
  color: #ff9c01;
  border: 1px solid #ff9c01;
  border-radius: $small-spacing;
  font-weight: bolder;
  padding: $small-spacing;
  text-decoration: none;
}

.resumeButton:hover {
  background-color: #ffffff;
}

.resumeText {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.routeContent {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.skill {
  max-width: 60px;
  min-width: 60px;
}

.title {
  color: #ff9c00;
  margin: $small-spacing;
}

.topHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.text {
  color: #ffffff;
  text-align: center;
}

.years {
  color: #ffffff;
  font-style: italic;
}

@media (max-width: 600px) {
  .contactInfo {
    display: none;
  }

  .headerContent {
    align-items: flex-end;
  }

  .experienceCard {
    margin: $small-spacing;
    padding: $small-spacing;
    width: 400px;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: flex-end;
    background-color: $navy;
  }
}