$navy-base: #101D42;
$light-base: #89D2DC;
$purple-base: #6564DB;
$small-spacing: 10px;
// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bungee&family=Josefin+Sans&family=Mukta:wght@200&family=Spartan:wght@200;570;600&family=Yanone+Kaffeesatz:wght@200&display=swap');
@import "~bootstrap/scss/bootstrap";

.about {
  color: $light-base;
  align-items: center;
  background-color: $navy-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.hide {
  margin-top: 30px;
}

.hugeTitle {
  color: $light-base;
  font-size: 72px;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  text-align: center;
}

.bigTitle {
  color: $light-base;
  font-size: 20px;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  text-align: center;
}

.open {
  position: absolute;
  top: 5%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background: $navy-base;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    :first-child {
      transform: rotate(45deg);
    }

    :nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    :nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.aboutMe {
  text-align: left;
  color: white;
  max-width: 600px;
  margin: 20px;
}

.columnContainer {
  display: flex;
  margin: $small-spacing;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 14px;
}

.closed {
  position: absolute;
  top: 5%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    :first-child {
      transform: rotate(0);
    }

    :nth-child(2) {
      opacity: '1';
      transform: translateX(0);
    }

    :nth-child(3) {
      transform: rotate(0);
    }
  }
}

.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $small-spacing;
}

.burgerClosed {
  position: fixed;
  top: 1%;
  right: 1%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 9999;

  &:focus {
    outline: none;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    :first-child {
      transform: rotate(45deg);
    }

    :nth-child(2) {
      opacity: '0';
      transform: translateX(20px);
    }

    :nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.skillTitle {
  font-family: 'Bungee', cursive;
  color: $light-base;
  margin: $small-spacing;
}

.meText {
  color: white;
  font-size: 14px;
  margin: $small-spacing;
}

.burgerOpen {
  position: absolute;
  top: 5%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  &:focus {
    outline: none;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background: $navy-base;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    :first-child {
      transform: rotate(45deg);
    }

    :nth-child(2) {
      opacity: '0';
      transform: translateX(20px);
    }

    :nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.menuOpen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  height: 455vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: -20px;
  transition: transform 0.3s ease-in-out;
  
  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: $navy-base;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s linear;

    :first-child {
      margin-top: 20px;
    }

    &:hover {
      color: $navy-base;
    }
  }
}

.menuClosed {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  height: 455vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  
  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: $navy-base;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: $navy-base;
    }
  }
}

.headerGraphic {
   max-width: 300px;
   max-height: 300px;
}

.center {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.content {
  background-color: $navy-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
  font-weight: 570;
}

.contact {
  align-items: center;
  background-color: $navy-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: $small-spacing;
  text-align: center;
}

.company {
  color: white;
  font-weight: bolder;
}

.contactInfo {
  align-items: flex-start;
  top: 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 9999;
}

.dropdownItem {
  padding: 10px;
  color: white;
  text-decoration: none;
  position: absolute;
}

.experienceCard {
  padding: $small-spacing;
  margin: 40px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  text-align: center; 
  border-radius: $small-spacing;
}

.experience {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.experineceCardText {
  color: white;
  font-family: 'Spartan', sans-serif;
  text-align: left;
  font-size: calc($small-spacing + 2vmin);
}

.experienceCardHeader {
  color: $light-base;
  text-align: left;
  font-family: 'Spartan', sans-serif;
  padding-top: $small-spacing;
  padding-left: $small-spacing;
}

.experienceCardSubHead {
  display: flex;
  justify-content: space-between;
  margin: $small-spacing;
}

.experienceCardSubHeader {
  color: $light-base;
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $navy-base;
}

.footerText {
  color: $light-base;
  display: flex;
  padding: $small-spacing;
  font-style: italic;
  flex-direction: row;
  justify-content: center;
}

.hamburgerMenu {
  display: none;
}

.header {
  align-items: center;
  background-color: $navy-base;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc($small-spacing + 2vmin);
  justify-content: space-between;
  padding: $small-spacing;
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.headerName {
  color: $light-base;
  font-size: 18px;
  padding-left: 20px;
  font-family: 'Bungee', cursive;
}

.headerBar {
  display: flex;
  background-color: $navy-base;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  top: 0px;
  position: fixed;
  z-index: 9997;
}

.headerContent {
  background-color: $navy-base;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: calc($small-spacing + 2vmin);
  font-family: 'Spartan', sans-serif;
  text-align: center;
  margin: 0px;
}

.headerLink {
  color: $purple-base;
  cursor: pointer;
  margin: 30px;
  font-size: 18px;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.icon {
  margin: 20px;
  height: 40px;
  width: 40px;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.menu {
  opacity: 1;
}

.position {
  color: $light-base;
  font-weight: bold;
}

.portfolioHome {
  display: flex;
  flex-direction: column;
  background-color: $navy-base;
}

.resumeButton {
  color: $purple-base;
  border: 1px solid $purple-base;
  border-radius: $small-spacing;
  font-size: 18px;
  font-family: 'Bungee', cursive;
  padding: $small-spacing;
  text-decoration: none;
  margin: $small-spacing;
}

.resumeButton:hover {
  background-color: #ffffff;
  text-decoration: none;
}

.resumeText {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.skill {
  max-width: 60px;
  min-width: 60px;
}

.aboutMeContainer {
  display: flex;
}

.image {
  max-height: 300px;
  max-width: 300px;
  opacity: 1;
  border: 1px solid white;
  border-radius: 2px;
}

.title {
  color: $light-base;
  margin: $small-spacing;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
}

.topHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.text {
  color: #ffffff;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 600px;
}

.years {
  color: #ffffff;
  font-style: italic;
}

@media (max-width: 600px) {

  .hugeTitle {
    font-size: 30px;
  }

  .content {
    max-width: 600px;
  }

  .text {
    width: 100%;
  }

  .columnContainer {
    flex-direction: column;
  }

  .aboutMeContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
  }

  .about {
    padding: $small-spacing;
  }

  .burgerClosed {
    right: 4%;
    display: flex;
  }

  .burgerOpen {
    display: flex;
  }

  .contactInfo {
    display: none;
  }

  .headerContent {
    align-items: flex-end;
  }

  .headerBar {
    justify-content: space-evenly;
    width: 100%;
  }

  .experienceCard {
    margin: $small-spacing;
    padding: $small-spacing;
    width: 300px;
    flex-direction: column;
  }

  .experienceCardHeader {
    width: 100%;
  }

  .headerLinks {
    display: none;
  }

  .experienceCardHeader {
    text-align: center;
  }

  .experienceCardSubHead {
    flex-direction: column;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: flex-end;
    background-color: $navy-base;
  }

  .hide {
    margin: 40px;
    max-width: 300px;
  }

  .aboutMe {
    max-width: 600%;
    width: 100%;
  }

  .header {
    flex-direction: column;
  }
}